
.btn-primary{
    margin:5px;
    font-family: 'Notable', sans-serif;
}
body{
    font-family: 'Abel', sans-serif;
    background-color: black;
    
    
}


.head2
{
    color: whitesmoke;
    font-family: 'Notable', sans-serif;
}
